www.unikorncam.tech {
	redir https://unikorncam.tech{uri} permanent
}

unikorncam.tech {
	request_body {
		max_size 2GB
	}

	@api path /api* /ws* /health*
	reverse_proxy @api api:8000 {
		flush_interval -1
		transport http {
			read_timeout 1h
			write_timeout 1h
		}
	}

	reverse_proxy web:3000 {
		flush_interval -1
		transport http {
			read_timeout 1h
			write_timeout 1h
		}
	}
}
